@use 'variables';

.heading {
    font-weight: 400;
    font-size: 1em;
}

.navItem {
    list-style-type: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2;
    margin: 0;
    padding: 0;

    a {
        color: variables.$dark;
        font-weight: 300;
        text-decoration: underline;

        &:hover {
            color: variables.$dark;
        }
    }
}

.socialItem {
    display: flex;

    li {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}