@import 'variables';

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$dropdown-bg: $dark;
$dropdown-link-color: $light;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #474747;
}

* {
  box-sizing: border-box;
}

section, .container {
  margin: 0 auto;
}

section {
  margin-bottom: 1em;
}

nav {
  margin: 0 auto;
  max-width: 1920px;

  .logoContainer {
    position: relative;
    height: 35px;
    width: 200px;
  }

  .navSeperator {
    height: 2.5em;
    width: 0.2em;
  }
}

.underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    z-index: -1;
    background-image: url('../public/images/underline.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}