@use 'variables';

.headingSmall {
  font-size: 1rem;
  color: variables.$dark;
  font-weight: 500;
}

.headingLarge {
  font-weight: 700;
  font-size: clamp(2.4rem, 6vw, 3.2rem);
  display: block;
  margin-bottom: 1em;
}

.highlighted {
  color: variables.$highlight;
}