@use 'variables';

.headingSmall {
  font-size: 1rem;
  color: lighten(variables.$dark, 40%);
  font-weight: 500;
}

.headingLarge {
  font-weight: 700;
  font-size: clamp(2.4rem, 3vw, 4rem);
  display: block;
  margin-bottom: 1em;
}

.highlighted {
  color: variables.$highlight;
}