@use 'variables';

.navLink {
    a {
        font-weight: 300;
        display: flex;
        align-items: center;
    }
}

.link {
    position: relative;
    transition: all 0.2s ease-in-out;
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -0.2em;
      width: 0px;
      height: 4px;
      transition: all 0.2s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: variables.$highlight;
    }
  
    &:before {
      left: 50%;
    }
  
    &:after {
      right: 50%;
    }
  
    &:hover {
      &:before,
      &:after {
        width: 100%;
        opacity: 1;
        width: 50%;
      }
    }
  }