@use 'variables';

.quoteBox {
    position: relative;
    background: variables.$secondary;
    border-radius: 20px;
    padding: 1.5em 1em;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin: 2em 1em;

    .quoteIcon {
        position: absolute;
        top: -15px;
        left: 15px;
        font-size: 2em;
        color: lighten(variables.$dark, 20%);
    }
}

.featuresBox {
    margin: 2em 0;

    .featuresHeader {
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }
}