@use 'variables';

.quoteBox {
    position: relative;
    background: lighten(variables.$secondary, 10%);
    border-radius: 10px;
    padding: 1.5em 1em;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin: 2em 1em;

    .quoteIcon {
        position: absolute;
        top: -15px;
        left: 15px;
        font-size: 2em;
    }
}

.card {
    position: relative;
    margin-top: 2em;
    padding-top: 2em;
    background: #fff;
    border: none;

    .cardNumber {
    position: absolute;
    top: -55px;
    left: calc(50% - .3em);
    font-weight: 700;
    font-size: 5em;
    color: variables.$highlight;
    -webkit-text-stroke: 1px variables.$dark;
}
}